@charset 'UTF-8';

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/*Aqui colocaremos todo o conteúdo do nosso perfil*/

div#conteudo{
    height: 896px;
    width: 414px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/*Aqui colocaremos a nossa imagem de perfil*/

div#imagem{
    width: 297px;
    height: 231px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}

div#img{
    width: 213px;
    height: 213px;
    border-radius: 50%;
    background: url('https://github.com/JoaoPedromuniz.png'), lightgray 50% no-repeat;
    background-size: cover;
    border: 2px solid var(--purple);

}

/*link para o instagram da pessoa da foto*/
div#instagram{
    margin-bottom: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#instagram a{
    text-decoration: none;
    color: var(--purple);
}

/*Aqui será colocado as redes sociais do nosso perfil*/

div#socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#socialmedia a{
    display: flex;
    flex-direction: column;
    color: var(--purple);
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 316px;
    height: 49px;
    margin: 16px 0px;
    border: 2px solid var(--purple);
    box-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.205);
}

/*Aqui será colcodo os métodos de contatos do nosso perfil*/

footer#contatos{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 69px;
    flex-direction: row;
}
footer#contatos p a{
    margin: 0px 19px;
}